# v0 sandbox internal files
__v0_runtime_loader.js
__v0_devtools.tsx
__v0_jsx-dev-runtime.ts
.snowflake/
.v0-trash/
.vercel/
next.user-config.*

# dependencies
node_modules

# next
.next
out

# env
.env
.env.local
.env.development
.env.production
.env.*

# logs
*.log
npm-debug.log*

# prisma local db files
*.db
*.sqlite

# system
.DS_Store
Thumbs.db

# vercel
.vercel

# editor
.vscode/*
